*{
    margin:0;
    padding:0;box-sizing:border-box
}

body{
    font-family:Yu Gothic,sans-serif;background:linear-gradient(180deg,#ffd6e7,#fff5fa);overflow-x:hidden;text-align:center
}

section{
    min-height:100vh;display:flex;flex-direction:column;justify-content:center;align-items:center;padding:30px
}

h1,h2{
        color:#ff4f8b
    }


.sub{
    margin-top:20px;
    font-size:3rem;
    font-weight:bold;
    color:#ff4f8b;
    text-shadow:
        0 0 10px rgba(255,79,139,.4);
    }


.envelope{
    font-size:100px;
    cursor:pointer;
    transition:.4s;
    margin-bottom: 50px;
}

.envelope-title {
    font-size: 2rem;
}

.envelope:hover{
    transform:scale(1.1)
}

#countdown{
    display:none;height:100vh;justify-content:center;align-items:center;font-size:6rem;color:#ff4f8b
}

#main{
    display:none
}

.card{
    background:#fff;width:100%;max-width:450px;padding:25px;border-radius:25px;margin-top:20px;box-shadow:0 10px 30px rgba(0,0,0,.1)
}

.reveal{
    opacity:0;
    transform:translateY(30px);
    transition:.8s
}

.reveal.show{
    opacity:1;
    transform:translateY(0)
}

.footer{
    margin:30px;color:#ff4f8b
}

.heart{
    position:fixed;pointer-events:none;animation:float linear infinite
}

@keyframes float{
    from{transform:translateY(100vh)}to{transform:translateY(-120px)}}

.confetti{
    position:fixed;
    pointer-events:none;
    animation:fall linear forwards;
    z-index:999;
}

.sparkle{
    position:fixed;
    font-size:20px;
    animation:sparkle 2s ease-out forwards;
    pointer-events:none;
    z-index:1000;
}

@keyframes fall{
    from{
        transform:
        translateY(-30px)
        rotate(0deg);
    }

    to{
        transform:
        translateY(110vh)
        rotate(540deg);
    }
}

@keyframes sparkle{
    0%{
        opacity:0;
        transform:scale(0.5);
    }

    50%{
        opacity:1;
        transform:scale(1.3);
    }

    100%{
        opacity:0;
        transform:scale(0.8);
    }
}

#secretBtn{
    margin-top:25px;padding:12px 20px;border:none;border-radius:30px;background:#ff7eb6;color:#fff
}
#secretMessage{
    display:none;margin-top:20px;font-size:1.2rem;color:#ff4f8b;font-weight:bold
}
